<nav class="topbar">
  <div class="brand">
    <span class="logo">🏦</span>
    <span class="name">{{ appName }}</span>
  </div>

  <ul class="menu">
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Início</a></li>
    <li><a routerLink="/pagamentos" routerLinkActive="active">Pagamentos</a></li>
    <li><a routerLink="/transferencias" routerLinkActive="active">Transferências</a></li>
    <li><a routerLink="/cartoes" routerLinkActive="active">Cartões</a></li>
    <li><a routerLink="/investimentos" routerLinkActive="active">Investimentos</a></li>
  </ul>
</nav>
